.header {
  background: linear-gradient(180deg,#1A2955,#5498C9 1000px);
  color: white;
  padding: 1.5em 0;
  margin-bottom: 1em;
}

.social-links,
.social-links li {
  display: inline;
  padding-right: 1em;
}
.social-links a {
  color: white;
}

.headshot {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 6px solid white;
}

.project-thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-thumbnail {
  max-width: 560px;
}

.project-thumbnail img {
  width: 100%;
  height: 100%;
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.youtube-video iframe {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  flex-shrink: 0;
  padding: 1em 0;
  background-color: #171C2B;
  color: white;
}